.register{
  align-items: center;
  height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.469),
    rgba(255, 255, 255, 0.679)
  ),
  url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  position: relative;

}
.registerTitle{
  font-size: 3em;
}
.registerForm{
  display: flex;
  flex-direction: column;
  font-size: 1.7em;
}
.registerForm >label{
  margin: .5em;
}
.registerForm>input{
  height: 5vh;
  border: none;
  padding: 1em;
}
.registerButton{
  margin-top: 1em;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  padding: 0.5em;
  border-radius: 1em;
}
.registerLoginButton{
  position: absolute;
  top: 3em;
  right: 4em;
  background-color: coral;
  border: none;
  color: white;
  padding: 1em 2.5em;
  border-radius: 1em;
  cursor: pointer;
}