.top{
  align-items: center;
  background-color: rgb(253, 253, 253);
  display: flex;
  height: 15vh;
  position: sticky;
  top: 0;
  font-family: 'Varela', sans-serif;;
  font-size: 1.5em;
  z-index: 1;
}
.top-left, .top-right{
  flex:3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topIcon{
  color: rgb(109, 94, 94);
  margin: 0.7em 0.5em;
  cursor: pointer;
}
.topImg{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.top-center{
  flex:4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topList{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

}
.topListItem{
  margin: 0.5em;
  list-style: none;
  cursor: pointer;
  color: rgb(109, 94, 94);
}
.topSearch{
  cursor: pointer;
  color:  rgb(109, 94, 94);
  margin-left: 0.7em;
}