.singlePost{
  flex:9;
  margin: 1em;
}
.singlePostWrapper{
  margin: 1em;

}
.singlePostImg{
  width: 70vw;
  height: 50vh;
  border-radius: 2em;
  object-fit: cover;
}
.singlePOstTitle{
  text-align: center;
  margin-top: 0.8em .8em;
  padding: 1.5em;
  font-size: 0.9em;
 
}
.singlePostEdit{
  float: right;
  margin-top: 0;
}
.singlePostIcon{
  padding-left: 0.5em;
  cursor: pointer;
  font-size: 0.7em;
}
.singlePostIcon:first-child{
  color:blue;
}
.singlePostIcon:last-child{
  color:tomato;
}
.singlePostInfo{
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  color: #be9656;
  margin:0.3em;
}
.singlePOstDesc{
  font-size: 2vw;
  line-height: 1.2em;
  text-align: justify;
}
.singlePOstDesc::first-letter{
  margin-left: 1.5em;
  font-size: 1.5em;
}