.post{
  width:38%;
  margin: 2em;

}
.posrImg{
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 1em;
}
.postInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCat{
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: #be9656;
  line-height: 1.2em;
  margin-top: 1em;
  margin-right: 0.8em;
  cursor: pointer;
}
.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;

}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 24px;
  color: #444444;
  margin-top: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}